[submodule "external/stable-diffusion-webui"]
	path = external/stable-diffusion-webui
	url = https://github.com/AUTOMATIC1111/stable-diffusion-webui.git
	shallow = true
[submodule "external/sd-scripts"]
	path = external/sd-scripts
	url = https://github.com/kohya-ss/sd-scripts.git
	shallow = true
